@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');
/* Nav bar */

header {
  border: solid black 4px;
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 5px;
  margin-top: 3vw;
}

.logIn {
display: flex;
justify-content: flex-end;
margin-left: 90vw;
margin-right: 2vw;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}

a:link {
  text-decoration: none;
  font-family: 'Roboto', light;
  color: black;
}

a:visited {
  color: black;
}

/*welcome page*/

h1 {
  font-size: 40px;
}

img {
  width: 200px;
}

.welcome {
  padding: 6vw;
  text-align: center;
  background-color: #00395f;
  color: white;
}

.welcomeLogo {
  font-family: 'roboto', bold;
}

.paragraph {
  font-family: 'Roboto', Light;
  font-size: 20px;
  margin-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 3vw;
}

.howTo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  background-color: #d3d7cc;
  color: black;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

.howToH2{
  color: #00395f;
  font-family: 'Roboto', Light;
}

.listHeader {
  color: red;
}

.listHeader span{
  color: #00395f;
}

/*Candidate Pages*/

.ui.card {
  flex-direction: row;
  width: 50vw;
  height: 25vh;
  margin-left: 3vw;
  overflow-y: scroll;
}

ui.image {
  width: auto;
  max-width: 40%;}

.card {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}


/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
}

footer small {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
