

/* Nav bar */
header{
  border: solid black 4px;
  display: flex;
  flex-direction: column;
}
.navBar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 5px;
  margin-top: 3vw;
}

.logIn{
display: flex;
justify-content: flex-end;
margin-left: 90vw;
margin-right: 2vw;
}
.pages{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

/*welcome page*/
h1 {
  font-size: 40px;
}
img {
  width: 200px;
}

.welcome {
  padding: 6vw;
  text-align: center;
}

.paragraph {
  font-size: 20px;
  margin-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

/*Candidate Pages*/

.ui.card{
  flex-direction: row;
  width: 50vw;
  height: 25vh;
  margin-left: 3vw;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background-color: white;
  } 
   
.card:-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px white(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.card:-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.card:-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.card {
  margin-top: 2vw;
  margin-bottom: 2vw;
}






















/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
}

footer small {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
