.App {
  text-align: center;

/* Nav bar */
}
header{
  border: solid black 4px;
  display: flex;
  flex-direction: column;
}
.navBar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 5px;
  margin-top: 3vw;
}

.logIn{
display: flex;
justify-content: flex-end;
margin-left: 90vw;
margin-right: 2vw;
}
.pages{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

/*welcome page*/
h1 {
  font-size: 40px;
}
img {
  width: 200px;
}

.welcome {
  padding: 6vw;
}

.paragraph {
  font-size: 20px;
  margin-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

/*Candidate Pages*/

.card {
  display: flex;
  flex-direction: row;
}





















/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
}

footer small {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
